
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("AddSubject", "AddSubject")
@Html.ActionLink("AddProfessor", "AddProfessor")
@Html.ActionLink("AddLesson", "AddLesson")

